/* Forgopassword.jsx */
.forgot-password-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.forgot-password-content {
    background-color: #fefefe;
    margin: 22px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 18px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.forgot-close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.forgot-close:hover,
.forgot-close:focus {
    color: black;
    text-decoration: none;
}

.forgot-close:hover {
    transform: scale(1.1);
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .forgot-password-content {
        width: 90%;
    }
}

.imageHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    padding-top: 20px;
}

.imageHeaderLogo {
    display: flex;
    justify-content: center;
    width: 60px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 600px;
    padding-bottom: 100px;
    align-items: center;
}

.forgotPassHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
}

.forgotPassHeaderTitle {
    color: #2F4858;
    font-size: 30px;
    font-weight: 700;
}

.forgotPassHeaderText {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
    width: 21.5rem;
    margin: 0 auto;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.forgotErrorMsg {
    display: flex;
    margin: 0 auto;
    color: red;
}

.forgotSubmit-container {
    display: flex;
    margin: 35px auto;
}

.forgotSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 59px;
    color: white;
    background: #33658A;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.return {
    display: flex;
}

.return-submit {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #33658A;
    font-size: 15px;
}

.footer-forgotPass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    padding: 10px 0 24px;
}

.footer-forgotPass a {
    margin: 0 10px;
}

/* Forgotpassmessage.jsx */
.forgot-message-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.forgot-message-content {
    background-color: #fefefe;
    margin: 22px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 18px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.forgotPassHeaderContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    padding-bottom: 63px;
    align-items: center;
}

.forgotPassMsgHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 90px;
}

.mail-icon{
    font-size: 90px;
}

.forgotPassMsgTitle{
    font-size: 30px;
    font-weight: 300;
}

.forgotPassMsgText{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
    width: 21.5rem;
    margin: 0 auto;
}

.forgotPassMsg{
    font-size: 12px;
}

/* Forgotpasschange.jsx */
.changePassErrorMsg {
    color: red;
    margin: 10px auto;
}

.changePassSubmit {
    display: flex;
    margin: 30px auto;
    align-items: center;
}



/* Media Query */

@media (max-width: 991px) {
    .inputs{
        width: 68%;
    }
}

@media (max-width: 600px) {
    .imageHeader{
        display: flex;
        align-items: center;
    }
        
    .imageHeaderLogo{
        display: flex;
        justify-content: center;
    }

    .headerContainer{
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 461px) {
    .forgotSubmit-container{
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .forgotErrorMsg{
        font-size: 90%;
    }
}