.parent {
  background: url(/src/assets/signed-in/bg-rdmp.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navigation Bar */
.navBar {
  display: flex;
  justify-content:center;
  align-items: center;
  width: auto;
  min-height: 70px;
  gap: 40em;
}

.navBarInner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.navLogoContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.navLogo {
  width: 180px;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
}

.homeNavProfile {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 50px;
}

.profileImg {
  aspect-ratio: 1/1;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.homeNavProfile p {
  color: #DDE6ED;
  font-size: 16px;
  cursor: pointer;
}

.homeNavProfileUser {
  display: flex;
  align-items: center;
  gap: 10px;
}

.homeNavProfileButton button {
  border: none;
  background-color: transparent;
  color: #DDE6ED;
  font-size: 16px;
  cursor: pointer;
}

/* ---------------------------------------- */

/* Create Roadmap Frame */
.createRoadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90.2vh;
  width: auto;
  gap: 1em;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.welcomeText {
  font-size: 45px;
  font-weight: bold;
  color: #DDE6ED;
}

.clickText {
  font-size: 21px;
  font-weight: 500;
  color: #DDE6ED;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.createButton {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  background-color: #33658A;
  color: white;
  cursor: pointer;
  padding-top:13px;
  padding-bottom:13px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  transition: transform ease 0.3s;
}

.createButton:hover {
  transform: translateY(-10px); 
  border: solid 1px #27374D;
  background-color: white;
  color: #27374D;
}


/* Dropdown Modal */ 

.dropdown-modal {
  position: absolute;
  top: 60px; /* Adjust mo nalang to par depende sa size */
  right: 20px; /* Adjust mo nalang to par depende sa size */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-modal .profile-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown-modal .profile-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-modal .profile-info .username {
  margin: 0;
  font-size: 16px;
}

.dropdown-modal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-modal li {
  padding: 10px;
}

.dropdown-modal li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.dropdown-modal li button:hover {
  color: #007bff;
}





