.navBar {
  display: flex;
  justify-content:center;
  align-items: center;
  width: auto;
  min-height: 70px;
  gap: 40em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profileInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

/* Employee Profile */
.profileEmpContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 300px;
  height: 630px;
  margin-left: 20px;
  border-radius: 10px;
}

.profileEmpImage,
.profileEmpImage img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-top: 20px;
}

.profileEmpImage img {
  border: 1px solid #ccc;
  border-radius: 50%;
}

.profileEmpNameDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileEmpNameDetails h1 {
  font-size: 23px;
  font-weight: 500;
  margin-top: 5px;
}

.profileEmpNameContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.profileEmpNameDetails p {
  font-size: 15px;
}

.profileEmpNameDetails p1 {
  font-size: 10px;
  color: gray;
}

.underline {
  border: 1px solid #ccc;
  width: 100%;
  margin: 10px;
}

.profileEmpDetailContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.profileEmpDetail p {
  font-size: 15px;
}

.profileEmpBackgroundContainer {
  display: flex;
  border: 1px solid #ccc;
  width: 1180px;
  height: 630px;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: scroll;
}

/* Employee Background */
.profileEmpBackgroundPersonalInfoContainer {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.profileEmpBackgroundPersonalInfoContainer label {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 0 15px;
}

.profileEmpBackgroundPersonalInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  flex-direction: column;
  width: 1150px;
  gap: 15px;
  margin: 10px 0 10px 15px;
}

.profileEmpBackgroundPersonalInfo p {
  font-size: 12px;
  font-weight: 700;
}

/* Address */
.profileEmpBackgroundAddressContainer {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.profileEmpBackgroundAddressContainer label {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 0 15px;
}

.profileEmpBackgroundAddress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  flex-direction: column;
  width: 1150px;
  gap: 15px;
  margin: 10px 0 10px 15px;
}

.profileEmpBackgroundAddress p {
  font-size: 12px;
  font-weight: 700;
}

/* Employee Background */
.profileEmpBackgroundEmploymentHistoryContainer {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.profileEmpBackgroundEmploymentHistoryContainer label {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 0 15px;
}

.profileEmpBackgroundEmploymentHistory {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  flex-direction: column;
  width: 1150px;
  gap: 15px;
  margin: 10px 0 10px 15px;
}

.profileEmpHistory p {
  font-size: 12px;
  font-weight: 700;
}