.employee-dashboard-main-frame {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.employee-table {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  margin: 0px 20px;
  width: 100%;
}

.header-box {
  margin: 10px 0 0 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.header-box-functions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.employee-table-add-button {
  font-size: 18px;
  background-color: lightskyblue;
  color: white;
  border: none;
  height: 26px;
  width: 60px;
  cursor: pointer;
  border-radius: 3px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td input {
  border: none;
}

th {
  background-color: #f2f2f2;
}

.employee-table-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
  gap: 1em;
  padding: 8px;
}

.employee-table-edit-button {
  background-color: lightskyblue;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.employee-table-delete-button {
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.employee-profile-card-parent {
  display: flex;
  position: relative;
}

.employee-profile-card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: flex-start;
  gap: 10px;
}

.employee-profile-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  border: 1px solid gray;
  justify-content: center;
}

.employee-profile-card a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.image img {
  display: flex;
  border-radius: 50%;
}

.company-role-text {
  display: flex;
  justify-content: center;
  align-items: center;
}