.employee-dashboard-main-frame,
.employee-appraisal-main-frame {
  display: flex;
  justify-content: flex-start;
  height: 92.5vh;
  width: 100%;
}

.employee-table,
.appraisal-table {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  margin: 0px 20px;
  width: fit-content;
}

.header-box {
  margin: 10px 0 0 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.header-box-functions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.employee-table-add-button {
  font-size: 18px;
  background-color: lightskyblue;
  color: white;
  border: none;
  height: 26px;
  width: 60px;
  cursor: pointer;
  border-radius: 3px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td input {
  border: none;
}

th {
  background-color: #f2f2f2;
}

.employee-table-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
  gap: 1em;
  padding: 8px;
}

.employee-table-ellipsis-button {
  width: 20px;
  height: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
}

.employee-profile-card-parent,
.employee-appraisal-profile-card-parent {
  display: flex;
  position: relative;
  margin-top: 10px;
}

.employee-profile-card-container,
.employee-appraisal-profile-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: flex-start;
  gap: 15px;
}

.employee-profile-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: center;
  position: relative;
}

.employee-profile-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.company-role-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  color: gray;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.image img {
  display: flex;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  border: 1px solid rgb(196, 194, 194);
  z-index: 1;
  right: 0;
  margin: 0 10px 40px 0;
}

.dropdown-menu a {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: left;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

/* Employee Profile */
.employee-profile-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.employee-profile-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 1000px;
  height: 700px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}

.employee-profile-modal h2 {
  margin-top: 0;
}

.employee-profile-basicinfo-card {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  justify-content: center;
  padding: 20px 40px;
}

.employee-profile-basicinfo-card-body-row {
  display: flex;
  width: auto;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}

.employee-profile-basicinfo-image img {
  height: 100;
  width: 120px;
  border-radius: 50%;
}

.employee-profile-basicinfo-basic {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 8px 0px;
  margin-left: 40px;

}

.employee-profile-basicinfo-basic h1,
h2 {
  font-size: 16px;
  font-weight: 600;
  text-align: left;

}

.employee-profile-basicinfo-basic p {
  color: gray;
  font-size: 15px;
  margin-bottom: 5px;
}

.employee-profile-basicinfo-other {
  width: 400px;
  margin-left: 30px;
}

.basic-info-title {
  font-size: 16px;
  font-weight: 600;
  width: 30%;
}

.basic-info-text {
  font-size: 15px;
  width: 100%;
}

.employee-profile-basicinfo-edit-button {
  margin: 15px 0 0 120px;
}

.employee-profile-basicinfo-edit-button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.employee-profile-personalinfo-card {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.employee-profile-personalinfo-card h1 {
  display: flex;
  font-size: 18px;
  font-weight: 700;
}

.employee-profile-personals-card-body {
  margin: 10px 0 0 10px;
}

.employee-profile-personals-card-body-row {
  display: flex;
  width: auto;
  gap: 20px;
  flex-direction: row;
  padding: 20px 10px;
  flex-wrap: wrap;
  height: fit-content;
}

.employee-profile-personals-other {
  width: 100%;
  margin: 15px 0 5px 0;
}

.employee-profile-personals-edit-button {
  display: flex;
  gap: 1em;
  margin: 20px;
  justify-content: space-between;
}

.employee-profile-personals-edit-button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.personal-info {
  display: flex;
  width: 95%;
}

.personal-info-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  width: 150px;
}

.personal-info-text {
  font-size: 15px;
  margin-bottom: 5px;
  width: 500px;
}

.employee-profile-history-card-body {
  display: flex;
  justify-content: space-between;
}

.employee-profile-workhistory-card-body,
.employee-profile-eduhistory-card-body {
  border: 1px solid gray;
  width: 470px;
  padding: 20px;
}

.employee-profile-eduhistory-edit-button,
.employee-profile-workhistory-edit-button {
  margin: 0 5px 35px 0;
  float: right;
}

.employee-profile-eduhistory-edit-button button,
.employee-profile-workhistory-edit-button button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.c {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
}

.additional-information-tab {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;

}

.add-info-content {
  display: flex;
  gap: 1em;
}

/******************** Appraisal Part ***************************************/
.employee-appraisal-profile-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 1000px;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Appraisal Dashboard */
.employee-appraisal-profile-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  justify-content: center;
  position: relative;
}

.employee-appraisal-profile-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.appraisal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
  cursor: pointer;
}

.appraisal-image img {
  display: flex;
  border-radius: 50%;
}

/* Appraisal Review Modal */
.employee-appraisal-profile-container {
  display: flex;
  border: 1px solid #27374D;
}

.employee-appraisal-profile-inner {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.employee-appraisal-profile-details {
  display: flex;
  background-color: #27374D;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  width: 939px;
  gap: 20px;
}

.employee-appraisal-profile-details img {
  border-radius: 14px;
  margin: 10px;
}

.employee-profile-details ul {
  color: #DDE6ED;
  gap: 0px;
}

.appraisalTitle {
  width: 150px;
  margin-right: 10px;
}

.appraisalText {
  margin-left: 40px;
  text-align: right;
}

.employee-appraisal-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: 1px solid #27374D;
  border-radius: 8px;
  margin-top: 20px;
}

.employee-appraisal-graph {
  width: 300px;
}

.employee-appraisal-details-request {
  display: flex;
  border: 1px solid #27374D;
  margin-top: 20px;
  border-radius: 8px;
}

.employee-appraisal-request {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
  width: 920px;
}

.appraisalResultTitle {
  width: 180px;
  margin-right: 10px;
}

.appraisalResultText {
  margin-left: 40px;
  text-align: right;
}

.appraisal-request-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.appraisal-request-buttons button {
  padding: 5px;
  width: 60px;
}