/* Navigation Bar CSS */
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: 70px;
  gap: 40em;
}

.navBarInner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.navLogoContainer {
  display: flex;
  align-items: center;
  height: 100%;
}

.navLogo {
  width: 180px;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;
}

.navProfile {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.profileImg {
  aspect-ratio: 1/1;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.username {
  color: #27374D;
  font-size: 16px;
}

.dropdown-modal {
  position: absolute;
  top: 60px;
  /* Adjust mo nalang to par depende sa size */
  right: 20px;
  /* Adjust mo nalang to par depende sa size */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-modal .profile-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown-modal .profile-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-modal .profile-info .username {
  margin: 0;
  font-size: 16px;
}

.dropdown-modal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-modal li {
  padding: 10px;
}

.dropdown-modal li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.dropdown-modal li button:hover {
  color: #007bff;
}

/* Progress Bar CSS */
.carousel-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-content {
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 200px;
  transition: transform 0.5s ease;
  margin: auto;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
  padding: 20px;
}

.phaseCount {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background: #f2f2f2;
  color: #333;
  font-size: 20px;
  margin: 0 auto 10px;
}

.phaseProgressLabel {
  font-size: 14px;
  font-weight: 600;
}

.active {
  display: block;
  font-weight: 600;
}

.neighbor {
  opacity: 0.5;
  /* Apply opacity to previous and next phases */
}

/* Right Side*/
.middleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightSide {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: row;
  margin-bottom: 30px;
}

.taskTitle {
  height: 40px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  border: solid 1px;
  align-items: center;
  padding: 0px 10px;
  ;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: flex-start;


}

.taskDiv {
  border: solid 2px;
  border-radius: 5px;
  margin: 20px;
  height: 150px;
}

.taskDescription {
  margin-top: 10px;
  padding-left: 10px;
}

.button-section {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
}

.done-button {
  opacity: 100%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* Green text */
  background-color: #27374D;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 10px;
  transition: ease-in 0.3s, color 0.3s;
}

/* Hover Effect */
.button:hover {
  background-color: #000000;
  /* Green background */
  color: #ffffff;
  /* White text */
}

/* Active Effect */
.button:active {
  transform: translateY(1px);
}

.done-button1 {
  opacity: 100%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* Green text */
  background-color: #27374D;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 10px;
  transition: ease-in 0.3s, color 0.3s;
}

/* Hover Effect */
.done-button1:hover {
  background-color: #000000;
  /* Green background */
  color: #ffffff;
  /* White text */
}

/* Active Effect */
.done-button1:active {
  transform: translateY(1px);
}

.done-button2 {
  opacity: 100%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* Green text */
  background-color: #27374D;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 10px;
  transition: ease-in 0.3s, color 0.3s;
}

/* Hover Effect */
.done-button1:hover {
  background-color: #000000;
  /* Green background */
  color: #ffffff;
  /* White text */
}

/* Active Effect */
.done-button1:active {
  transform: translateY(1px);
}


.button-section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-button-footer {
  opacity: 50%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* Green text */
  background-color: #27374D;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 10px;
  transition: ease-in 0.3s, color 0.3s;
}

.next-button-footer {
  opacity: 50%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* Green text */
  background-color: #27374D;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px 10px;
  transition: ease-in 0.3s, color 0.3s;
}

/* Video Player and Assesment */
.videoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 319px;
  /* margin: 30px auto; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  overflow: hidden;
}

.videoWrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.dropdownAssessment {
  width: 10px;
  height: 18px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 0%;
  background-color: transparent;
  color: #27374D;
  border: none;
}

.h2assessment {
  border: 2px;
  border-radius: 10%;
}

.inputAnswer {
  width: 90%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: justify;
}

/* Style for focus state */
.inputAnswer:focus {
  outline: none;
  border-color: #27374D;
}

.coursesSection {

  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}

.coursesSection h2 {
  font-size: 15px;
}

.coursesSection li a {
  color: rgb(77, 114, 178);
  text-decoration: none;
  font-size: 10px;
}


/***************************** Assessment.JSX *****************************/
.assessmentContainer,
.resultContainer {
  display: flex;
  justify-content: center;
  width: auto;
  height: 90.2vh;
}

.assessmentContainerInner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.assessmentInnerQuestions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 100px;
}

.assessmentQuestionsList {
  display: flex;
  align-items: center;
  border: 2px solid #27374D;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 200px;
}

.assessmentQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 50rem;
  height: 9rem;
}

.assessmentQuestion p {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.assessmentChoices {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.assessmentSubmitButton button {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  background-color: #33658A;
  color: white;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #27374D;
  border-radius: 10px;
}



/***************************** Result.JSX *****************************/
.resultContainerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultInnerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 800px;
  height: 400px;
  border: 2px solid #27374D;
  border-radius: 20px;
  margin-top: 20px;
}

.resultInnerGraph {
  width: 300px;
}

.resultBreakdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px
}

.resultBreakdown li {
  display: flex;
  flex-direction: row;
}

.resultTitle {
  width: 120px;
  margin-right: 10px;
  color: #27374D;
}

.resultText {
  margin-left: 20px;
  text-align: right;
}

.resultButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.resultButtons button {
  padding: 5px;
  border: none;
  background-color: transparent;
  border: 2px solid #27374D;
  border-radius: 7px;
  cursor: pointer;
}