.parent-main-frame {
  display: flex;
  width: auto;
  flex-direction: row;
  height: 92.5vh;
}

.admin-navbar {
  display: flex;
  align-items: row;
  background-color: #f7f8f9;
  justify-content: space-between;
  width: auto;
}

.career-compass-logo {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 15px;
  width: auto;

}

.admin-profile-info {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
}

.dashboard {
  height: auto;
  width: 255px;
  display: flex;
  justify-content: flex-start;
  background-color: #f7f8f9;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
}


.career-compass-image {
  width: 200px;
}

.dashboard button {
  margin-bottom: 10px;
}

.parent-main-frame ul {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.parent-main-frame li {
  font-size: 16px;
  font-weight: 500;
  transition: all ease 0.3s;
  cursor: pointer;
  justify-content: flex-start;
  display: flex;
  height: 30px;
  align-items: center;

}

.parent-main-frame span {
  align-items: center;
  display: flex;
  justify-content: center;
}

.parent-main-frame li:hover {
  background-color: #e8eaed;
}

.parent-main-frame li:active {
  background-color: #dedfe0;
}

.clicked {
  background-color: #dedfe0;
  font-weight: 600
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dashboard-content h2 {
  margin-bottom: 10px;
}

.dashboard-content ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-content ul li {
  padding: 0px 40px 0px 12px;
  margin: 0px 2px;
  width: auto;
  font-size: 14px;
}

.dashboard-content ul li:last-child {
  border-bottom: none;
}

.selected-content {
  width: 100%;
  display: flex;
  overflow-x: auto;
  /* Horizontal scrollbar will appear if content overflows horizontally */
}

.icons {
  margin-right: 5px;
}