.aboutGroupContainerPanel {
    display: flex;
    flex-direction: row;
}

.aboutGroupContainerPanelImage {
    width: 1546px;
}

.aboutGroupContainerContent {
    display: flex;
    position: sticky;
}