html {
  align-items: center;
}

body {
  display: block;
  font-size: medium;
  line-height: 1.5em;
  
}

/* Navigation Bar */
.navigationbarWrapper {
  width: 100%;
  min-height: 60px;
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.navbarInner { 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.navLeft {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Logo CSS */
.brand {
  width: 180px; 
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 12px;

}

/* Login/Sign-in CSS */
.login-container{
  display: flex;
  justify-content: space-evenly;
}


/* Login Button Interactiveness */
.login-text {
  display: inline-block;
  color: #343538;
  height: min-content;
  min-width: 68px;
  min-height: 20px;
  border-width: 50px;
  font-size: 1.125em;
  font-weight: 400;
  cursor: pointer;
  padding-top:6px;
  padding-bottom:6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

.login-text:hover {
  background-color: #33658A;
  color: white;
  
}

.login-text:active {
  opacity: 80%;


}

/* Division for Log-in/Sign in */
.division {
  width: 5px;
  height: 30px;
  margin: 20px;
  
}

/* Sign up button Interactiveness */
.Signup-text {
  display: inline-block;
  color:#343538 ;
  font-size: 1.125em;
  font-weight: 400;
  min-width: 82px;
  cursor: pointer;
  padding-top:6px;
  padding-bottom:6px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
}

.Signup-text:hover {
  background-color: #33658A;
  color: white;

}

.Signup-text:active {
  opacity: 80%;

}

/* About Us */


/* Description CSS */
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-inline: auto;
  width: auto;
  min-height: 425px;
}

.compass {
  background-color: rgb(39, 55, 77);
  width: auto;
}

.header-section {
  display: inline-block;
  padding: 0;
  font-size: 2.5em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;

}

.header {
  padding-top: 0;
}
.sub-heading {
  font-size: 1.25em;    
  max-width: 1200px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 60px;
  margin-right: 60px;
  color: white;
  align-items: center;


}
/* Mission CSS */
.mission {
  background-color: white;
}

.mission-heading {
  display: inline-block;
  font-size: 2.5em;
  justify-content: center;
  font-weight: bold;
  width: 600px;
  text-align: center;
  color: rgb(39, 55, 77);
  margin-bottom: 30px;
  margin-top: 30px;

}

.mission-sub-heading {
  font-size: 1.25em;    
  max-width: 1200px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 60px;
  margin-right: 60px;
  color: rgb(39, 55, 77);
  align-items: center;
  
}

/* Our Team CSS */

/*OUR TEAM SECTION PARENT FRAME */

.profile-parent {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 55, 77);
  gap: 1em;
  min-height: 1000px;
}

/* OUR TEAM TEXT PARENT FRAME */
.profile-container {
  display: flex;
  justify-content:flex-start;
  font-size: 2.5em;
  font-weight: bold;
  width:auto;
  text-align: center;
  color: rgb(39, 55, 77);
  margin-bottom: 30px;
  margin-top: 30px;


}

/* OUR TEAM TEXT CSS */
.ourTeamText{
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

/* PICTURE AND INFORMATION SECTION PARENT*/
.profile-image-container {
  display: flex;
  flex-direction: row;
  gap: 3em 2em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;

}


.bar {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  gap: 2em ;
  min-width: 250px;
}

.display-picture-parent {
  display: flex;
  justify-content: center;

}

.display-picture {
  max-width: 250px;
  aspect-ratio: 1/1;

}

.name-role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 18px;
  font-weight:bold;
  color: white;
}

.role {
  font-size: 16px;
  color: white;
}


/* RESPONSIVENESS SECTION CSS */
/* Large Tablet 991px screensize */

@media (max-width: 991px) { 
  /* Navigation Bar */
  .navbarInner {
    display: flex;
  }

  .login-container {
    display: flex;
  }

  .login-text,
  .Signup-text {
    font-size: 1em;
  }
  
  /* FIRST SECTION */
  .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-inline: auto;
    width: auto;
  }

  .header-section,
  .mission-heading,
  .ourTeamText{
    font-size: 35px;
    width: auto;
  }
  
  .sub-heading,
  .mission-sub-heading {
    font-size:1em;

  }

  /* Mission */
  .mission-sub-heading {
    font-size: 16px;
  }



}

/* Medium Tablet 767px screensize */
@media (max-width:767px){
    /* Navigation Bar */
    .navbarInner {
      display: flex;
    }
  
    .login-container {
      display: flex;
    }
  
    .login-text,
    .Signup-text {
      font-size: 1em;
    }
    
    /* FIRST SECTION */
    .description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      margin-inline: auto;
      width: auto;
    }
  
    .header-section,  
    .mission-heading,
    .ourTeamText {
    font-size: 30px;
    }
    
    .sub-heading,
    .mission-sub-heading {
      font-size:1em;

    }

    .mission {
      display: flex;
      justify-content: center;
    }
  
}




/* Mobile 479px screensize */
@media (max-width:479px){
    /* Navigation Bar */
    .navbarInner {
      display: flex;
    }
  
    .login-container {
      display: flex;
    }
  
    .login-text,
    .Signup-text {
      font-size: 0.875em;
    }
    
    /* FIRST SECTION */
    .description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      margin-inline: auto;
      width: auto;
    }
  
    .header-section,  
    .mission-heading,
    .ourTeamText {
    font-size: 25px;
    }
    
    .sub-heading,
    .mission-sub-heading {
      font-size:0.875em;

    }

    .mission {
      display: flex;
      justify-content: center;
    }

    .bar {
      min-width: 300px;
    }
  
    .display-picture {
      min-width: 300px;
    }

}

@media (max-width:874px){
  .bar {
    min-width: 300px;
  }

  .display-picture {
    min-width: 300px;
  }


}

@media (max-width:692px){
  .bar {
    min-width: 300px;
  }

  .display-picture {
    min-width: 300px;
  }

}