/* Forgopassword.jsx */
.forgot-password-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.forgot-password-content {
    background-color: #27374D;
    margin: 22px auto;
    padding: 20px;
    border: 2px solid #2F4858;
    border-radius: 18px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.forgot-close {
    color: #DDE6ED;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.forgot-close:hover,
.forgot-close:focus {
    color: #DDE6ED;
    text-decoration: none;
}

.forgot-close:hover {
    transform: scale(1.1);
}

.imageHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    padding-top: 20px;
}

.imageHeaderLogo {
    display: flex;
    justify-content: center;
    width: 60px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 600px;
    padding-bottom: 100px;
    align-items: center;
}

.forgotPassHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
}

.forgotPassHeaderTitle {
    color: #DDE6ED;
    font-size: 30px;
    font-weight: 700;
}

.forgotPassHeaderText {
    color: #DDE6ED;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
    width: 21.5rem;
    margin: 0 auto;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.forgotErrorMsg {
    display: flex;
    margin: 0 auto;
    color: #86BBD8;
}

.forgotSubmit-container {
    display: flex;
    margin: 35px auto;
}

.forgotSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 59px;
    color: white;
    background: #33658A;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.return {
    display: flex;
}

.return-submit {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #33658A;
    font-size: 15px;
}

.footer-forgotPass {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    padding: 10px 0 24px;
}

.footer-forgotPass a {
    margin: 0 10px;
    color: #DDE6ED;
}

.footer-forgotPass a:hover {
    color: #33658A;
}

/* Forgotpassmessage.jsx */
.forgot-message-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.forgot-message-content {
    background-color: #27374D;
    margin: 22px auto;
    padding: 20px;
    padding-bottom: 40px;
    border: 2px solid #2F4858;
    border-radius: 18px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.forgotPassHeaderContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    padding-bottom: 63px;
    align-items: center;
}

.forgotPassMsgHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 90px;
}

.mail-icon {
    font-size: 90px;
    color: #DDE6ED;
}

.forgotPassMsgTitle {
    font-size: 30px;
    font-weight: 300;
    color: #DDE6ED;
}

.forgotPassMsgText {
    display: flex;
    color: #DDE6ED;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
    width: 21.5rem;
    margin: 0 auto;
}

.forgotPassMsg {
    font-size: 12px;
    color: #DDE6ED;
}

/* Forgotpasschange.jsx */
.forgotPassContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgotPassInner {
    background-color: #27374D;
    border: 2px solid #2F4858;
    border-radius: 18px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.changePassErrorMsg {
    color: #33658A;
    margin: 10px auto;
}

.changePassSubmit button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 59px;
    color: white;
    background: #33658A;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}